.margin-top-tiny {
    margin-top: 5px;
}

.margin-top-medium {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 20px;
}

.margin-top-giant {
    margin-top: 30px;
}

.vertical_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.z-index-min {
    position: relative;
    z-index: -1;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.z-index-3 {
    position: relative;
    z-index: 3;
}

.z-index-4 {
    position: relative;
    z-index: 4;
}

.z-index-infinity {
    position: relative;
    z-index: 999;
}

.z-index-mask {
    position: relative;
    z-index: 1000;
}

.nav-font-small {
    font-size: 14px;
}

.nav-font-middle {
    font-size: 16px;
}

.nav-font-big {
    font-size: 18px;
}

.nav-font-huge {
    font-size: 20px;
}

.content-font-small {
    font-size: 12px;
}

.content-font-middle {
    font-size: 14px;
}

.safe_area {
    min-width: 1400px;
}

.select_forbidden {
    pointer-events: none;
    user-select: none;
}

.pointer-events-none {
    pointer-events: none;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

.left-margin-5 {
    margin-left: 5px;
}

.left-margin-10 {
    margin-left: 10px;
}

.left-margin-15 {
    margin-left: 15px;
}

.left-margin-20 {
    margin-left: 20px;
}

.right-margin-5 {
    margin-right: 5px;
}

.right-margin-10 {
    margin-right: 10px;
}

.right-margin-15 {
    margin-right: 15px;
}

.right-margin-20 {
    margin-right: 20px;
}


.right-distance-5 {
    right: 5px;
}

.bg-green {
    background: greenyellow;
}

.bg-gray {
    background: gray;
}

.bg-red {
    background: red;
}

.bg-yellow {
    background: #FF994B;
}

.state_dot {
    display: inline-block;
    position: absolute;
    width: 0.8em;
    height: 0.8em !important;
    border-radius: 1em;
}

p a span {
    font-family: "Microsoft YaHei UI";
}

div {
    margin: 0;
    padding: 0;
}

.personal {
    display: inline-block;
    margin: 5px;
    height: 8em;
    width: 95%;
    border-radius: 15px;
    background: #F2F2F2;
}

.personal-display {
    margin: 15px;
}

.container{
    width: 100%;
    height: 100%;
}

.user_select_forbidden{
    user-select: none;
}

.cursor_pointer{
    cursor: pointer;
}

.cursor_default{
    cursor: auto
}

.horizontal_center{
    text-align: center;
}



/* 通过webkit扩展修改滚动条样式仅限于chrome，safari和opera的滚动条 */
/* 控制滚动条的宽度 */
.scrollbar::-webkit-scrollbar{
    width: 10px;
}

/* 控制滚动条的滑块颜色、内角、内阴影等 */
.scrollbar::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #BFBFBF;
}
/* 控制滚动条轨道的显示 */
.scrollbar::-webkit-scrollbar-track{
    background: #E0E0E0;
    border-radius: 10px;
}

/* todo 其他浏览器设置滚动条样式 */